img {
  display: block; /* Makes the image a block element */
  margin-left: 0; /* Aligns the image to the left */
  margin-right: auto; /* Ensures the right side has auto margin to maintain alignment */
  width: 15%; /* Sets the width to 15% of its container */
  height: auto; /* Keeps the aspect ratio intact */
  border-radius: 50%; /* Makes the image round */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for a 3D effect */
  border: 2px solid #ccc; /* Optional: adds a border around the image */
}

body {
  font-family: "Menlo", monospace;
  margin: 5px;
}
table {
  width: 70%;
  border-collapse: collapse;
  border: 3px solid grey;
  border-radius: 16px;
}

th,
td {
  border: 1px solid rgb(160, 160, 160);
  padding: 10px 5px 10px 15px;
  text-align: left;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}
i {
  font-size: 14px;
}
